@page "/Connect"

<head>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap" rel="stylesheet">
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="//db.onlinewebfonts.com/c/f890eea2e91e1270ce7109e36a42260a?family=woodmart-font" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div class=" divhei container-fluid">
    <h1 class=" align-middle text-center">
      Connect
    </h1>
</div>



<section class="spek-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 txt-cntr">
                <h1>CONNECT</h1>
            </div>
        </div>
    </div>
</section>


<section class="contact-section pt-20 pb-80 lazy" style="background: unset;">
    <div class="row">
        <div class="col-md-12 text-center">
            <div>
                <h2 class="cr">Contact Me</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="leadform">
                    <label>Name *</label>
                    <input type="text" class="form-control" name="Name" required>
                    <label>Email *</label>
                    <input type="email" class="form-control" name="Email" required>
                    <label>Name of Event or Program</label>
                    <input type="email" class="form-control" name="Name" required>
                    <label>Event Date</label>
                    <input type="email" class="form-control" name="Name" required>
                    <label>Phone</label>
                    <input type="text" class="form-control" name="Number" required>
                    <label>Message</label>
                    <textarea name="Message" id="" cols="30" rows="5" class="form-control" required></textarea>
                    <button type="submit" class="btn-8">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

